body {
background : #ffffff;
background : radial-gradient(ellipse at center, #ffffff 0%, #eee 100%);
background : -moz-radial-gradient(#eee, #fff);
}
.keepcentered {
position : absolute;
left : 50%;
top : 50%;
width : 480px;
height : 300px;
margin-left : -240px;
margin-top : -150px;
font-weight : 100;
}
body {
font-family: 'Roboto', sans-serif;
font-style : normal;
color : #258bbc;
margin : 5px;
}
td, tr {
width: 20%;
text-align: center;
}
a {
font-weight: 100;
color : #aebac1;
}
a:hover{
color: #5a83c4;
}
a:link {
text-decoration : none;
text-shadow: 0px 0px 0px #000;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: #FFCD41;
$color5: #2092A9;

body {
    background-color: lighten($color1, 10%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

.weather-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {

    margin:  20px 5px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
    background-color: $color2;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    animation: appear 500ms ease-out forwards;

    h1 {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:80px;
        color: $color3;
        bottom: 0;
        left: 35px;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;
    }

    p {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:28px;
        color: lighten($color3, 10%);
        bottom: 0;
        left: 35px;
        animation: title-appear 1s ease-out 500ms forwards;
    }
}
