html {
    background-color: white;
}
@font-face {
    font-family: nexa;
    src: url(NexaLight.otf);
}

body {
background : #ffffff;
background : radial-gradient(ellipse at center, #ffffff 0%, #eee 100%);
background : -moz-radial-gradient(#eee, #fff);
}
.time{
  font-size:3em;
}
.date{
  font-size:1em;
  margin-bottom: 5%;
}
.keepcentered {
position : absolute;
left : 50%;
top : 50%;
width : 480px;
height : 300px;
margin-left : -240px;
margin-top : -150px;
font-weight : 100;
}
body {
font-family: 'Roboto', sans-serif;
font-style : normal;
color : #258bbc;
margin : 5px;
}
td, tr {
width: 20%;
text-align: center;
}
a {
font-weight: 100;
color : #aebac1;
}
a:hover{
color: #5a83c4;
}
a:link {
text-decoration : none;
text-shadow: 0px 0px 0px #000;
}
td.linkHeader {
    padding-bottom: 10px;
}
.fa{
padding-top: 3px;
}
